.enrollments_container {
    background-color: #f8f199;
    padding: 2%;
}
.crud_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.coursetitle{
    text-align: center;
}
h2{
    font-size: 24px;
    background-color: #2d41f8;
    padding: 5px;
}
h3 {
    font-size: 18px;
}
h5{text-align: left;}

p {
    color: #000;
    text-align: left;
}
.view {
    flex-basis: 25%;
    background-color: #fff;
}
.enroll {
    flex-basis: 25%;
    background-color: #fff;
}
.edit {
    flex-basis: 25%;
    background-color: #fff;
}
.delete{
    flex-basis: 25%;
    background-color: #fff;
}
.instructors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}